.movie {
  padding: 2vh;
  animation: bordershadow 5s infinite;
  display: flex;
  max-width: 80%;
  min-width: 40%;
  justify-self: center;
  text-align: center;
  justify-content: center;
  margin: 6vh;
}

.movie img {
  max-width: 20%;
  min-width: 10%;
  height: auto;
  border-radius: 5px;
  transition: ease-in-out 0.3s;
}
.movie img:hover {
  transform: scale(1.2);
}
.infoDiv {
  width: 50%;
  background-color: var(--background-transparent-color);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers text horizontally */
  align-items: center;
  padding: 2vh;
}
.movie a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #ffffff;
}
.title {
  font-size: 5vh;
}
.description {
  display: flex;
  justify-content: center; /* Centers text horizontally */
  align-items: center;
  font-size: 3vh;
}
.year {
  padding-left: 90%;
}
.movie a {
  background-color: var(--background-color);
  padding: 3%;
}

#moviesNav {
  border: black solid 1px;
  background-color: black;
  color: white;
}
#reviewsNav {
  transition: 0.3s ease-in-out;
  color: white;
}
#reviewsNav:hover {
  background-color: rgba(0, 0, 0, 0.466);
  transition: ease-in-out 0.3s;
}
@media (max-width: 1000px) {
  .movie {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .movie img {
    width: 40vh;
  }
  .title {
    font-size: 4vh;
    padding: 0px;
    margin: 0px;
  }
  .description {
    font-size: 2vh;
  }
}
